@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* :root {
    --text: #111722;
    --background: #e5ecf5;
    --primary: #234170;
    --secondary: #6e99de;
    --accent: #1f60c1;
  }

  .dark {
    --text: #dee4ee;
    --background: #0a1019;
    --primary: #90addc;
    --secondary: #214c8f;
    --accent: #3d7ddf;
  } */
  /* :root {
    --text: #12150f;
    --background: #f6f9f3;
    --primary: #8dbd4a;
    --secondary: #bee28a;
    --accent: #afe85e;
  }
  .dark {
    --text: #edf0ea;
    --background: #0a0e07;
    --primary: #84b441;
    --secondary: #51761e;
    --accent: #67a117;
  } */
  /* :root {
    --text: #081713;
    --background: #f8fcfa;
    --primary: #4ec6a2;
    --secondary: #b893dc;
    --accent: #d171c7;
  }
  .dark {
    --text: #e8f7f3;
    --background: #030806;
    --primary: #39b18d;
    --secondary: #47236c;
    --accent: #8e2e85;
  } */
  :root {
    --text: #031b24;
    --background: #fafdff;
    --primary: #16b9ee;
    --secondary: #e481f6;
    --accent: #f24cbe;
  }
  .dark {
    --text: #d9f3fc;
    --background: #000305;
    --primary: #11b3e8;
    --secondary: #6b097c;
    --accent: #b40e7f;
  }
}
