@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #111722;
    --background: #e5ecf5;
    --primary: #234170;
    --secondary: #6e99de;
    --accent: #1f60c1;
  }

  .dark {
    --text: #dee4ee;
    --background: #0a1019;
    --primary: #90addc;
    --secondary: #214c8f;
    --accent: #3d7ddf;
  }
}
